:root {
    --green:#5fb602;
}

[data-brand="nwt"] .ui-card {
    border-radius: var(--radius-md);
    border:1px solid #E5E7EB;
    .ui-jackpot-card__name,
    .ui-jackpot-card__region,
    .ui-countdown__framed-value,
    .ui-countdown__framed-label,
    .ui-jackpot-card__jackpot-amount,
    .ui-jackpot-card__price,
    .ui-jackpot-card__jackpot-label,
    .ui-jackpot-card__next-draw,
    .ui-jackpot-card__jackpot-note,
    .ui-jackpot-card__price-unit{
         color:var(--color-white);
    }
    .ui-jackpot-card__region,
    .ui-countdown__framed-value,
    .ui-jackpot-card__jackpot-label{
        opacity: .8;
    }

     .ui-countdown__framed-label,
     .ui-jackpot-card__jackpot-note,
    .ui-jackpot-card__price-unit,
    .ui-jackpot-card__next-draw {
        opacity: .6;
     }

     .ui-countdown__framed {
        border-top: 1px dashed var(--color-surface-dark-text-primary);
        border-bottom: 1px dashed var(--color-surface-dark-text-primary);
     }
}


[data-brand="nwt"] .ui-accordion-item__content {
    a {
        color:var(--green);
    }
}